image: cimg/android:2025.11.1

stages:
  - test

test_melay:
  stage: test
  variables:
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  script:
    # Server tests + coverage + SonarQube
    - gradle :server:clean :server:test :server:jacocoTestReport sonar
  artifacts:
    when: always
    reports:
      junit:
        - server/build/test-results/test/*.xml
    paths:
      # Optional: keep reports for debugging
      - server/build/reports/jacoco/test/
