.nix:
  image: nixos/nix
  before_script:
    - echo "experimental-features = nix-command flakes" >>/etc/nix/nix.conf

stages:
  - test
  - build

variables:
  NIXPKGS_ALLOW_UNFREE: "1"

test_melay:
  extends: .nix
  stage: test
  script:
    - nix develop --command bash -c "
        gradle test
      "
  artifacts:
    when: always
    reports:
      junit: 
        - app/build/test-results/testReleaseUnitTest/*.xml
        - server/build/test-results/test/*.xml

build_melay_jvm:
  extends: .nix
  stage: build
  script:
    - nix --experimental-features 'nix-command flakes' build .#melay-app-jvm
  artifacts:
    paths:
      - result/lib/melay/app/*.jar
    expire_in: 1 week
  only:
    - main