image: eclipse-temurin:21

stages:
  - test

test_server:
  stage: test
  variables:
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  script:
    - gradle :server:assemble --no-daemon
    - gradle :server:test --no-daemon
    - gradle :server:jacocoTestReport --no-daemon
    - gradle :server:sonar --no-daemon

  artifacts:
    when: always
    reports:
      junit:
        - server/build/test-results/test/*.xml
    paths:
      - server/build/reports/jacoco/test/
